html {
  background: #fff;
  color: #333;
  font: normal normal normal 13px/1.2 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

body {
  margin: auto;
  padding: 1em;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

strong { font-weight: bold; }

/* -- Header ---------------------------------------------------------------- */
#hd h1 {
  font-family: 'Gill Sans', Verdana, sans-serif;
  font-size: 24px;
  margin: 0 0 0.5em;
}

#legend {
  border-collapse: separate;
  border-spacing: 2px;
  float: right;
  font-size: 0.9em;
  margin: 0 4em 0 1em;
  position: relative;
  top: -10px;
  width: 350px;
}

#legend caption { font-weight: bold; }

#legend th,
#legend td { padding: 4px 5px 5px; }

.legend { border: 1px solid; }

/* -- Columns --------------------------------------------------------------- */
#bd {
  clear: both;
  margin-top: 2em;
}

.column > h1 {
  background: #f5f5f5;
  border: 1px solid #dfdfdf;
  font-size: 1.3em;
  font-weight: bold;
  height: 20px;
  margin: 0 4px;
  padding: 3px;
  position: relative;
  text-align: center;
}

.feed {
  opacity: 0.7;
  position: absolute;
  right: 2px;
  top: 2px;
}

.feed:hover { opacity: 1.0; }

/* -- Tweets ---------------------------------------------------------------- */
.tweets { margin: 4px; }

.tweets.loading {
  background: #fff url('../img/loading.gif') no-repeat center 30px;
  min-height: 100px;
}

.tweet {
  border: 1px solid transparent;
  margin-bottom: 3px;
  overflow: hidden;
  padding: 4px 29px 4px 4px;
  position: relative;
}

.legend.new,
.tweet.new {
  background: #F8F0FF;
  border-color: #E3C5FA;
}

.legend.auto,
.tweet.auto {
  background: #FFF3E6;
  border-color: #FFD4A3;
}

.tweet:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.tweet:hover {
  background: #E4F0FC;
  border-color: #9FB8D0;
}

.tweet .bd,
.tweet > footer { margin-left: 57px; }

.tweet > footer {
  color: #999;
  font-size: 11px;
}

.tweet > footer a { color: inherit; }

.tweet > header { float: left; }

.tweet .photo {
  height: 48px;
  width: 48px;
}

.tweet .user { margin-right: 2px; }

/* -- Vote buttons ---------------------------------------------------------- */
.vote {
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
  z-index: 1;
}

.touch .vote > .button,
.tweet:hover .vote { visibility: visible; }

.vote > .button {
  border: 0;
  background: none;
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
  opacity: 0.6;
}

.vote > .button:hover { opacity: 1.0; }

.vote > .button,
.vote > .button > img {
  height: 24px;
  width: 24px;
}

#yui .vote-up,
#other .vote-down { display: none; }

#yui .auto .vote-up,
#other .auto .vote-down { display: block; }
