html {
  background: #fff;
  color: #333;
  font: normal normal normal 13px/1.2 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  overflow-y: scroll;
}

body {
  margin: auto;
  max-width: 800px;
  padding: 7px 7px 16px;
}

@media all and (min-width: 500px) {
  body { padding: 1em 1em 4em; }
}

a { text-decoration: none; }
.notouch a:hover { text-decoration: underline; }

strong { font-weight: bold; }

/* -- Header ---------------------------------------------------------------- */
#hd h1 {
  font-family: 'Gill Sans', Verdana, sans-serif;
  font-size: 24px;
  margin: 0 0 0.5em;
}

.forkme { display: none; }

@media all and (min-width: 500px) {
  #hd { padding-right: 100px; }
  .forkme { display: inline; }
}

/* -- Body ------------------------------------------------------------------ */
#bd {
  clear: both;
  margin-top: 2em;
}

/* -- Sidebar --------------------------------------------------------------- */
#sidebar {
  display: none;
  padding: 0 0.5em 0 1.2em;
}

#sidebar h1 {
  font-size: 14px;
  margin-top: 1.5em;
}

@media all and (min-width: 500px) {
  #sidebar { display: block; }
}

.feeds {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feeds a:hover {
  font-weight: bold;
  text-decoration: none;
}

.feeds img { vertical-align: middle; }
.feeds li { margin-bottom: 3px; }

.legend {
  border-collapse: separate;
  border-spacing: 2px;
  font-size: 0.9em;
}

.legend th,
.legend td { padding: 4px 5px 5px; }

.legend th { border: 1px solid; }

/* -- Tabs ------------------------------------------------------------------ */
#tabs {}

#tabs .yui3-tabview-panel {
  background: #fff;
}

/* -- Tweets ---------------------------------------------------------------- */
@media all and (min-width: 500px) {
  .tweets { margin: 4px; }
}

.tweets.loading {
  background: #fff url('../img/loading.gif') no-repeat center 30px;
  min-height: 100px;
}

.tweet {
  border: 1px solid transparent;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 4px 29px 4px 4px;
  position: relative;
}

.touch .tweet {
  margin-bottom: 7px;
  min-height: 66px;
}

.legend th.new,
.tweet.new {
  background: #F8F0FF;
  border-color: #E3C5FA;
}

.legend th.auto,
.tweet.auto {
  background: #FFF3E6;
  border-color: #FFD4A3;
}

.tweet:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.notouch .tweet:hover {
  background: #E4F0FC;
  border-color: #9FB8D0;
}

.tweet .bd,
.tweet > footer {
  margin: 0 12px 0 57px;
}

.tweet > footer {
  color: #999;
  font-size: 11px;
}

.tweet > footer a { color: inherit; }

.tweet > header { float: left; }

.tweet .photo {
  height: 48px;
  width: 48px;
}

.tweet .user { margin-right: 2px; }

/* -- Vote buttons ---------------------------------------------------------- */
.vote {
  position: absolute;
  right: 3px;
  top: 3px;
  visibility: hidden;
  z-index: 1;
}

.vote > .button {
  border: 0;
  background: none;
  cursor: pointer;
  display: block;
  margin-bottom: 4px;
  opacity: 0.6;
}

.notouch .vote > .button:hover,
.touch .vote > .button { opacity: 1.0; }

.vote > .button,
.vote > .button > img {
  height: 24px;
  width: 24px;
}

.touch .vote > .button,
.notouch .tweet:hover .vote { visibility: visible; }

.touch .vote > .button,
.touch .vote > .button img {
  height: 32px;
  width: 32px;
}

#yui .vote-up,
#other .vote-down { display: none; }

#yui .auto .vote-up,
#other .auto .vote-down { display: block; }
