module YUITweets

  CONFIG = {
    :mongo => {
      :uri     => 'mongodb://yuitweets:fakepass@localhost/yuitweets',
      :db      => 'yuitweets',
      :options => {}
    },

    :relay_tweets => false,

    :whitelist => {
      :yui => Set.new(%w[
        #yuiconf
        #yuiconf2010
        @admo
        @allenr
        @bartt
        @caridy
        @derek
        @dezziness
        @drdrace
        @eduardolundgren
        @foxxtrot
        @franksvalli
        @g13n
        @ginader
        @goonieiam
        @jshirley
        @ls_n
        @miraglia
        @msweeney
        @natekoechley
        @reid
        @rhyolight
        @slicknet
        @standardpixel
        @tilomitra
        @tivac
        @yaypie
        @yuilibrary
      ]),

      :other => Set.new(%w[
        #lastfm
        #nowplaying
        @ilyxebby
        @yuimelodies
      ])
    }
  }

end
